 <!--<header class="header">
  <h2>My Portfolio Header</h2>
  <nav>
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Projects</a>
    <a href="#">Contact</a>
  </nav>
</header>-->
<nav class="navbar">
  <div class="logo">MYSITE</div>
  <ul class="nav-links">
    <li><a href="#" (click)="HomeClicked(); $event.preventDefault()">Home</a></li>
    <li><a href="#" (click)="OnClickForUser()">Admin</a></li>
    <li><button class="subscribe-btn" (click)="OnSubscribe()">SUBSCRIBE</button></li>
  </ul>
</nav>
<nav>
  <ul>
    <!--<li><a href="#" (click)="HomeClicked()">Home</a></li>
    <li><a href="#" (click)="toggleAdmin($event)">Admin</a></li>
  -->
  </ul>
</nav>

<app-admin *ngIf="showAdmin"></app-admin>
