 .header {
  background-color: #1976d2;
  color: black;
  text-align: center;
  padding: 15px 0;
}

nav {
  margin-top: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}
.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-left: 80px;
  width: 70%;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  background-color: #fff;
  font-family: Arial, sans-serif;
}
.logo {
  font-weight: bold;
  font-size: 20px;
  color: #333;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}
.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #1976d2;
}

.subscribe-btn {
  background-color: #1976d2;
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.subscribe-btn:hover {
  background-color: #135ba1;
}
