body {
  background-color: #000;
  font-family: Arial, sans-serif;
  color: #fff;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  height: 100vh;
}

.main-container {
  width: 95%;
  height: 60%;         
  background-color: #000;
  display: flex;
  align-items: flex-start;
  border-radius: 5px;
}

.left-div {
border-radius: 5px;
    margin-top: 30px;
  margin-left: 30px;  
  margin-bottom: 20px;   
  background-color: white;
  padding: 20px;
  width: 280px;
  height: auto;          
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}


.left-div h2 {
  margin: 0;
  font-size: 18px;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.left-div hr {
  width: 100%;
  border: 1px solid black;
  margin: 10px 0 20px 0;
}

.columns {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.column {
  background-color: rgb(188, 186, 186);
  color: #000;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
}

.button-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.button-container button {
  flex: 1;
  padding: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.button-container .Subscribe {
  background-color: #28a745;
  color: #fff;
}

.button-container .unsubscribe {
  background-color: #28a745;
  color: #fff;
}
